.qs-bg{
	background-color: #76448A;
}
.accordion-button:not(.collapsed){
	background-color: #76448A;
}
@media only screen and (max-width: 600px) {
	.accordion-item{
		width: 100% !important;
	}
}

